---
import "../styles/global.css";
import RegisterStore from "../components/react/RegisterUser.tsx";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro - LiveShop</title>
  </head>
  <body class="m-0 p-0">
    <RegisterStore client:load />
  </body>
</html>
